section(class="canvas front" id="front")

    div(class="content")

        h2 Fix S.A.P.D

        div

            p Building a better city through reasonable reform.

            div

                a(href="https://www.sanantonio.gov/council/find-my-council-member") Find My Rep
                a(href="mailto:info@fixsapd.org") Contact Us

    //+nav-1("section-1")
